<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/layout/images/logo-malmitas-login.svg" alt="Malmitas logo" class="mb-5 w-6rem flex-shrink-0">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, #AA5339 10%, rgba(33, 150, 243, 0) 50%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Bem vindo!</div>
                </div>
                <div>
                    <form [formGroup]="userForm">
                        <label for="username" class="block text-900 text-xl font-medium mb-2">Usuário</label>
                        <input id="username" type="text" placeholder="Usuário" pInputText class="w-full md:w-30rem mb-5"
                            style="padding:1rem" formControlName="username">

                        <label for="password" class="block text-900 text-xl font-medium mb-2">Senha</label>
                        <p-password id="password1" formControlName="password" placeholder="Senha" [toggleMask]="true"
                            [feedback]="false" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>

                        <label for="name" class="block text-900 text-xl font-medium mb-2">Nome completo</label>
                        <input id="name" type="text" placeholder="Nome completo" pInputText
                            class="w-full md:w-30rem mb-5" style="padding:1rem" formControlName="name">

                        <label for="name" class="block text-900 text-xl font-medium mb-2">Telefone</label>
                        <input id="name" type="text" placeholder="Telefone" pInputText
                            class="w-full md:w-30rem mb-5" style="padding:1rem" formControlName="phone">

                    </form>
                    <div class="flex align-items-center justify-content-between mb-5 gap-5">

                    </div>
                    <button pButton pRipple label="Cadastre-se" class="w-full p-3 text-xl button mb-2"
                        (click)="cadastre()"></button>
                    <button pButton pRipple label="Voltar " class="w-full p-3 text-xl p-button-warning"
                        (click)="navigateTo('/login')"></button>
                </div>
            </div>
        </div>
    </div>
</div>