<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Adicionar" icon="pi pi-plus" class="p-button-warning mr-2"
                            (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                            (click)="deleteSelectedPedidos()"
                            [disabled]="!selectedPedidos || !selectedPedidos.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <div class="my-2">
                        <label for="calendar">Pedidos criados em:</label>
                        <p-calendar class="mr-2" [(ngModel)]="selectedDate" [iconDisplay]="'input'" [showIcon]="true"
                            id="calendar" dateFormat="dd/mm/yy" inputId="icondisplay" (onSelect)="filterByDate()" />

                        <button pButton class="button" label="Gerar Rotas" [disabled]="!selectedPedidos || !selectedPedidos.length"
                            (click)="gerarRotas(selectedPedidos)"></button>

                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="filteredPedidos" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true"
                [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedPedidos" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Pedidos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            Selecione
                        </th>
                        <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="name">Nome do Cliente <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="quantity">Quantidade <p-sortIcon field="quantity"></p-sortIcon></th>
                        <th pSortableColumn="price">Preço <p-sortIcon field="price"></p-sortIcon></th>
                        <th pSortableColumn="street">Rua <p-sortIcon field="street"></p-sortIcon></th>
                        <th pSortableColumn="status">Rota <p-sortIcon field="status"></p-sortIcon></th>
                        <th>Ações</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pedido>
                    <tr>
                        <td>
                            <p-tableCheckbox class="p-checkbox" [value]="pedido" *ngIf="pedido.status === 'PENDING' "></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{pedido.code || pedido.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{pedido.name}}
                        </td>
                        <td style="width:14%; min-width:8rem;"><span class="p-column-title">Quantidade</span>
                            <span class="p-column-title">Quantidade</span>
                            {{pedido.quantity}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Price</span>
                            {{pedido.price | currency:'BRL'}}
                        </td>
                        <td style="width:14%; min-width:8rem;"><span class="p-column-title">Rua</span>
                            <span class="p-column-title">Rua</span>
                            {{pedido.street}}
                        </td>
                        <td><span [class]="'order-badge order-' + pedido.status.toLowerCase()">{{pedido.status}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editPedido(pedido)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deletePedido(pedido)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="pedidoDialog" [style]="{width: '500px'}" header="Manutenção de Pedidos" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Nome Cliente</label>
                    <input type="text" pInputText id="name" [(ngModel)]="pedido.name" required autofocus
                        [ngClass]="{'ng-invalid ng-dirty' : submitted && !pedido.name}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !pedido.name">Name is required.</small>
                </div>
                <div class="field">
                    <label for="description">Descrição</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="pedido.description" required rows="3"
                        cols="20"></textarea>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="street">Rua</label>
                        <input pInputText id="street" [(ngModel)]="pedido.street">
                    </div>
                    <div class="field col">
                        <label for="county">Bairro</label>
                        <input pInputText id="county" [(ngModel)]="pedido.county">
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="city">Cidade</label>
                        <input pInputText id="city" [(ngModel)]="pedido.city">
                    </div>
                    <div class="field col">
                        <label for="state">Estado</label>
                        <input pInputText id="state" [(ngModel)]="pedido.state">
                    </div>
                </div>

                <div class="formgrid grid">
                    <div class="field col">
                        <label for="price">Preço</label>
                        <p-inputNumber id="price" [(ngModel)]="pedido.price" mode="currency" currency="BRL"
                            locale="en-US"></p-inputNumber>
                    </div>
                    <div class="field col">
                        <label for="quantity">Quantidade</label>
                        <p-inputNumber id="quantity" min="1" max="12" [(ngModel)]="pedido.quantity"></p-inputNumber>
                    </div>

                    <div class="field">
                        <label for="phone">Telefone</label>
                        <input type="text" pInputText id="phone" [(ngModel)]="pedido.createdBy.phone" required autofocus
                            [ngClass]="{'ng-invalid ng-dirty' : submitted && !pedido.createdBy.phone}" [disabled]="true"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !pedido.createdBy.phone">Phone is required.</small>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="savePedido()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletepedidoDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="pedido">Tem ceteza que deseja deletar o pedido? <b>{{pedido.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deletepedidoDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletepedidosDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Você quer realmente deletar os pedidos?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deletepedidosDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>